Rozgar CV and Message Maker Pakistan (1).json
{
  "name": "Rozgar CV and Message Maker Pakistan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rozgar-cv-maker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1ee8cbe0-1694-4526-90b4-12bff647a1da",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1120,
        608
      ],
      "webhookId": "fb4f70d9-81db-4637-a0e5-548e78e16345"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "full_name",
              "value": "={{ $json.body.full_name || \"\" }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "phone",
              "value": "={{ $json.body.phone || \"\" }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "email",
              "value": "={{ $json.body.email || \"\" }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "linkedin",
              "value": "={{ $json.body.linkedin || \"\" }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "city",
              "value": "={{ $json.body.city || \"\" }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "country",
              "value": "={{ $json.body.country || \"\" }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "job_type",
              "value": "={{ $json.body.job_type || \"\" }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "experience",
              "value": "={{ $json.body.experience || \"\" }}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "previous_work",
              "value": "={{ $json.body.previous_work || \"\" }}",
              "type": "string"
            },
            {
              "id": "10",
              "name": "projects",
              "value": "={{ $json.body.projects || \"\" }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "skills",
              "value": "={{ $json.body.skills || \"\" }}",
              "type": "string"
            },
            {
              "id": "12",
              "name": "languages",
              "value": "={{ $json.body.languages || \"\" }}",
              "type": "string"
            },
            {
              "id": "13",
              "name": "education",
              "value": "={{ $json.body.education || \"\" }}",
              "type": "string"
            },
            {
              "id": "14",
              "name": "expected_salary",
              "value": "={{ $json.body.expected_salary || \"\" }}",
              "type": "string"
            },
            {
              "id": "15",
              "name": "created_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "229c34a8-f244-4db8-a43e-702daf6a8060",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System: You are Rozgar AI CV Writer for Pakistani job seekers.\n\nYour job is to convert raw user information into a clean, professional, ATS-friendly CV content structure.\n\nRules:\n1. Output must be in English only.\n2. Do not invent fake education.\n3. Do not invent fake companies.\n4. Do not invent fake job titles.\n5. Do not invent fake years of experience.\n6. You may improve wording professionally.\n7. You may create realistic skills only if they are strongly related to the user’s job type.\n8. Keep the tone simple, professional, and suitable for Pakistani employers.\n9. Use strong bullet points for experience and projects.\n10. If data is missing, use a clean placeholder.\n11. CV should follow this structure:\n   - Header\n   - Professional Summary\n   - Education\n   - Experience\n   - Projects\n   - Skills & Languages\n12. Also create:\n   - job_request_message\n   - interview_intro\n   - salary_negotiation_message\n\nCRITICAL JSON RULES:\n- You MUST return ONLY valid JSON.\n- DO NOT wrap the JSON in markdown code blocks (e.g. no ```json).\n- DO NOT add any extra text before or after the JSON.\n- You MUST include ALL keys defined in the schema. If data is missing, use an empty string \"\" or empty array [].\n\nUser Data:\nFull Name: {{ $json.full_name }}\nPhone: {{ $json.phone }}\nEmail: {{ $json.email }}\nCity: {{ $json.city }}\nCountry: {{ $json.country }}\nLinkedIn: {{ $json.linkedin }}\nJob Target: {{ $json.job_type }}\nExperience: {{ $json.experience }}\nSkills: {{ $json.skills }}\nEducation: {{ $json.education }}\nPrevious Work: {{ $json.previous_work }}\nProjects: {{ $json.projects }}\nLanguages: {{ $json.languages }}\nExpected Salary: {{ $json.expected_salary }}",
        "hasOutputParser": true
      },
      "id": "ad810d0b-bb02-4bb0-99ce-58d309e73e6b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1568,
        608
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "29179b9e-d211-4728-81d5-5978ea4f40c9",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1584,
        832
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "YOZzamGkoracMD98",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"status\": \"success\",\n  \"cv_data\": {\n    \"cv_title\": \"string\",\n    \"profile_summary\": \"string\",\n    \"skills\": [\"string\", \"string\"],\n    \"languages\": [\"string\", \"string\"],\n    \"experience_bullets\": [\n      {\n        \"company_or_role\": \"string\",\n        \"details\": [\"string\", \"string\"]\n      }\n    ],\n    \"education_details\": [\"string\", \"string\"],\n    \"projects_bullets\": [\"string\", \"string\"]\n  },\n  \"messages\": {\n    \"job_request\": \"string\",\n    \"interview_intro\": \"string\",\n    \"salary_negotiation\": \"string\"\n  }\n}"
      },
      "id": "9fadb127-16ce-489d-92d1-3ae4c28a0546",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1712,
        832
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "05908be5-fdc9-4224-a2cf-d7553d8939df",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1920,
        608
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "b94341d6-cb7d-4fe4-8b9f-a381f027f088",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "061ec8746eff98bdcb9476953a81c5869bcc7b6f0d82c16e900deb8697db2da8"
  },
  "id": "mTrzx5CmEOmBq9aR",
  "tags": []
}